<div class="card-container">
  <div class="md-note-card" [routerLink]="['mdNotes', mdNote._id]">
    <h2 class="h5 note-title">{{mdNote.title}}</h2>
    <p >{{mdNote.content}}</p>
  </div>
  
  <div class="bottom-bar">
    <div class="edit-date">
        <p>Last edited:<br>{{mdNote.updatedAt|date : 'short'}}</p>
    </div>  

    <div class="buttons-bar">
      <button [routerLink]="['mdNotes', mdNote._id]">
        <img class="icon" src="../../../assets/images/edit-icon.png">
      </button>
    
      <button (click)="addToPinned()" [ngClass]="{'active': mdNote.pinned }">
          <img class="icon" src="../../../assets/images/fav-icon.png">
      </button>
  
      <button (click)="delete()" style="background: rgb(180, 0, 0)">
          <img class="icon" src="../../../assets/images/delete-icon.png">
      </button>
      </div>
  </div>

</div>