.md-note-card{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
  overflow: hidden;
  background: #fff;
  height: 280px;
  border: 1px solid #cecece;
}
.md-note-card:hover{
  opacity: .7;
  cursor: pointer;
}