.flex-row{
  justify-content: space-between;
  padding: .7rem;
}
.flex-row p{
  margin: 0;
}
.card{
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #d8d8d8;
}
.note-content{
  padding: .7rem;
  margin: 0;
  border-bottom:1px solid #d8d8d8;
  border-top:1px solid #d8d8d8;
  overflow: hidden;
  max-height: 211px;
  min-height: 211px;
}

.card:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.note-title{
  padding: .7rem;
  margin-top: 0;
}
.note-content{
  font-size: 0.9em
}

.edit-date{
  font-size: 0.8em;
  color: rgb(194, 194, 194);
  font-weight: 400;
}

button{
  height: 35px;
  width: 35px;
  background: #4A5259;
  margin-bottom: 0;
  cursor: pointer;
  border:none;
  transition: all .3s;
  margin-right: 5px;
}
button:last-child{
  margin-right: 0;
}
button:active, button:focus{
  outline: none;
}
button:hover,button.saving{
  background: #979797;
}
.icon{
  width: 20px;
  height: 20px;
  padding: 1px;
  margin: 2px 0px 0 0.5px;
}
.active{
  transition: background-color 0.3s;
  background: rgb(172, 156, 126);
}

@media (min-width:768px){

}