.md-note-card{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
  border: 1px solid #cecece;
  background: #fff;
}
.md-note-card:hover{
  opacity: .7;
  cursor: pointer;
}
.md-note-card p:last-child{
  border-bottom: 15px solid white;
  overflow: hidden;
  height: 200px;
}
h2{
  font-size: 1.194em;
}