<div class="card-container">
  <div class="md-note-card" [routerLink]="['mdNotes', mdNote._id]">
    <h4 class="note-title">{{mdNote.title}}</h4>
    <p class="note-content" >{{mdNote.content}}</p>
  </div>
  
  <div class="bottom-bar">
    <div>
        <p class="edit-date">Last edited:<br>{{mdNote.updatedAt|date : 'short'}}</p>
    </div>  

    <div class="buttons-bar">
      <button [routerLink]="['mdNotes', mdNote._id]">
        <img class="icon" src="../../../assets/images/edit-icon.png">
      </button>
    
      <button (click)="addToPinned()" [ngClass]="{'active': mdNote.pinned }">
          <img class="icon" src="../../../assets/images/pinned-icon.png">
      </button>
  
      <button (click)="delete()">
          <img class="icon" src="../../../assets/images/delete-icon.png">
      </button>
      </div>
  </div>

</div>