<div id="home">
    <header>
        <div class="logo">
            <img src="../../../assets/logo-big.png" alt="">
        </div>
    </header>
    <div class="flex-row">
      <div class="latest-edited">
        <h4>Last edited</h4>
        <div class="latest-edited-grid">
            <div class="md-note-card" *ngFor="let latestNote of latestNotes" [routerLink]="['mdNotes', latestNote._id]">
                <h5>{{latestNote.title}}</h5>
                <p>Last edited:<br>{{latestNote.updatedAt|date : 'short'}}</p>
            </div>
        </div>
      </div>
      <div class="pinned-notes">
          <h4>Pinned notes</h4>
        <div class="pinned-notes-grid">
            <div class="md-pinned-card">
                <h2 class="h5">titel</h2>
                <p class="edit-date">date</p>
              </div>
              <div class="md-pinned-card">
                  <h2 class="h5">titel</h2>
                  <p class="edit-date">date</p>
                </div>
                <div class="md-pinned-card">
                    <h2 class="h5">titel</h2>
                    <p class="edit-date">date</p>
                  </div>
        </div>
      </div>
    </div>
  </div>