.navbar{
  display: flex;
  flex-direction: column;
  background-color: #4A5259;
  width: 50px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  list-style: none;
  text-align: center;
  padding: 0;
  justify-content: space-between;
  z-index: 2;
}
.navbar li a{
  padding: 15px 0;
  display: inline-block;
}

.icon{
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.navbar li a:hover{
  transition: background-color 0.3s;
  background: #808080;
  width: 50px; 
  cursor: pointer;
}



.navbar-item a.active{
  width: 50px;  
  background:#2a3237; 
}

