 <ul class="navbar">

  <div>     
    <li class="navbar-item">
      <a [routerLink]="['/home']" routerLinkActive="active">
        <img class="icon" src="../../../assets/images/home-icon.png">
      </a>
    </li>
  
    <li class="navbar-item">
        <a id="toggle-books" (click)="toggleBooksNav()">
          <img class="icon" src="../../../assets/images/notebook-icon.png">
      </a>
    </li>
  
    <li class="navbar-item">
      <a [routerLink]="['/pinned']" routerLinkActive="active">
        <img class="icon" src="../../../assets/images/pinned-icon.png">
      </a> 
    </li>


    <li class="navbar-item">
        <a [routerLink]="['/profile']" routerLinkActive="active">
          <img class="icon" src="../../../assets/images/user-icon.png">
        </a> 
      </li>
    <li class="navbar-item">
        <a [routerLink]="['/settings']" routerLinkActive="active">
          <img class="icon" src="../../../assets/images/settings-icon.png">
        </a>
      </li>

    <li class="navbar-item">
      <a (click)=toggleSearchField() id="toggle-search">
        <img class="icon" src="../../../assets/images/search-icon.png">
      </a>
    </li>
    
  
    
  </div>
  
  <div>    
    <li class="navbar-item">
      <a [routerLink]="['/help']" routerLinkActive="active">
        <img class="icon" src="../../../assets/images/help-icon.png">
      </a>
    </li>

    <li class="navbar-item" (click)="logout()" id="last-nav-item">
      <a>
        <img class="icon" src="../../../assets/images/logout-icon.png">
      </a>
    </li>
  </div>

</ul>

