<ul class="navbar">

  <div>
    <li [ngClass]="{'active': homePage }" (click)="navigateHome()" class="navbar-item">
        <img class="icon" src="../../../assets/home-icon.png">
    </li>
  
    <li class="navbar-item" [ngClass]="{'active': mdBooksPage }" (click)="navigateMdBooks()">
      <img class="icon" src="../../../assets/notebook-icon.png">
    </li>
  
    <li class="navbar-item" [ngClass]="{'active': profilePage }" (click)="navigateProfile()">
      <img class="icon" src="../../../assets/user-icon.png">
    </li>
  </div>
  <div>
    <li class="navbar-item" [ngClass]="{'active': helpPage }" (click)="navigateHelp()">
      <img class="icon" src="../../../assets/info-icon.png">
    </li>
  
    <li class="navbar-item" (click)="logout()" id="last-nav-item">
      <img class="icon" src="../../../assets/logout-icon.png">
    </li>
  </div>

</ul>

