.navbar{
  display: flex;
  flex-direction: column;
  background-color: #3c5877;
  width: 50px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  list-style: none;
  text-align: center;
  padding: 0;
  justify-content: space-between;
}
.navbar li{
  padding: 15px 0;
}
.icon{
  width: 25px;
  height: 25px;
  padding: 0;
}

div>li:hover{
  transition: background-color 0.3s;
  background: #a9a9a9;
  width: 65px; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar-item.active{
  width: 65px;  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background:rgba(40, 40, 40); 
}

