.card-list-title{
  /* border-bottom: 8px #4A5259 solid; */
  padding: 2em 2em 0em 2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;  
}

.book-title{
  width: auto;
  position: relative;
  padding-right: 20px;
}
.book-title h1, .change-mdBook-title input{
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 2.5em;
  display: inline;
  color: #4F575E;
}
.change-mdBook-title{
  position: relative;
  margin-top: -4px;
}
.change-mdBook-title input{
  background: transparent;
  border: none;
  padding-left: 5px;
  font-family: 'Barlow', sans-serif;
  padding: 0 0 6px;
}
.change-mdBook-title input:focus, .change-mdBook-title input:active{
  outline: none;
}

.book-title .icon{
  width: 10px;
  position: absolute;
  top: 5px;
  right: 2px;
}
.book-title .icon:hover{
  cursor: pointer;
  opacity: .7;
}

.note-number{
  width: 40%;
  text-align: right;
}
.my-md-books{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 100;
  font-size: 1em;}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 100;
  font-size: 1em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 100;
  font-size: 1em;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 100;
  font-size: 1em;
}