<div class="my-md-books">
<div class="card-list-title">
  <div class="book-title">
    <h1 *ngIf="!changeTitle">{{mdBook.title}}</h1>
    <img (click)="setTitle(mdBook.title)" *ngIf="!changeTitle" class="icon" src="../../../assets/images/edit-icon-blue.png" title="Edit title">

    <form *ngIf="changeTitle" (ngSubmit)="setNewTitle(form, mdBook._id)" #form="ngForm" class="change-mdBook-title">
        <input placeholder="Title of your book" type="text" name="title" [(ngModel)]="newTitle.title" id="new-title">
    </form>

  </div>
  <p class="note-number">{{noteCount}}</p>
</div>

<div class="grid-row">
  <div *ngFor="let note of mdBook.mdNotes">
    <app-card [mdNote]="note" [mdBook_id]="mdBook._id"></app-card>
  </div>
</div>
</div>