<router-outlet></router-outlet>

<div id="pinned-notes-page">
  <div class="flex-row">
    <div class="flex-column pinned-list-column">
        <div class="card-list-title">
            <div class="book-title">
              <h2>Your Pinned Notes:</h2>
            </div>
            <!-- <p class="note-number">{{noteCount}}</p> -->
          </div> 
          <div class="pinned-list">
              <div *ngFor="let note of pinnedNotes" [routerLink]="['/pinned', note._id]" [routerLinkActive]="['active']">
                <div class="pinned-card">
                  <h3 class="h5 note-title">{{note.title}}</h3>
                  <p>{{note.updatedAt|date : 'short'}}</p>
                </div>
              </div>
          </div>
    </div>
    <app-pinned-preview id="pinned-preview"></app-pinned-preview>
  </div>

