h2{
  font-size: 1.3em;
  font-weight: 400;
  padding: 1em;
}
h3{
  margin-top:0;
}
.book-title h2{
  background: #F1F1F1;
  margin-top: 0;
}
.preview-pinned{
  width: 60%;
  position: fixed;
}
.pinned-list-column{
  width: 30%;
  border-right: 1px solid #cecece;
  height: 100vh;
}

#pinned-notes-page{
  min-height: 100vh;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.pinned-card{
  padding: .5em 1em;
}
.pinned-card h3{
  font-size: 1em;
  text-transform: uppercase;
}
.pinned-card p{
  font-size: .8em;
}
.ng-star-inserted{
  background: #F1F1F1;
}
.ng-star-inserted:nth-child(odd){
  background: #fff;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.ng-star-inserted:hover, .ng-star-inserted.active{
  background:rgb(250,221,229);
  cursor: pointer;
}
.ng-star-inserted:active, .ng-star-inserted:focus{
  outline: none;
}
.ng-star-inserted:last-child{
  border-bottom: 1px solid #cecece;
}
p{
  margin: 0;
}
p.content{
  border-bottom: none!important;
}
.pinned-card .flex-row{
  justify-content: space-between;
}