<!-- {{mdBooks|json}} -->
    <section class="mdBooks">
        <div class="add-new">
            <!-- <form (ngSubmit)="addNew(form)" #form="ngForm">
              <input type="text" name="title" [(ngModel)]="newMdBook.title">
          </form> -->
        </div>
        <ul>   
        </ul>
          <ul class="md-books-list">
            <li *ngFor="let mdBook of mdBooks">
              <div class="md-book-title flex-row">
                  <h3 class="mdbook-title">{{mdBook.title}}</h3>
                  <i class="toggleNotes" (click)="toggleNotes(mdBook._id)">+</i>
              </div>
              
              <ul class="md-notes-list" [id]="mdBook._id">
                <li *ngFor="let mdNote of mdBook.mdNotes">
                  <a [routerLink]="['/mdBooks', mdBook._id, 'mdNotes', mdNote._id]" routerLinkActive="active">{{mdNote.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
            
      </section>
            


