

.main>.right-side::-webkit-scrollbar{
  display: none;
}

.help-cheetsheet table{
  width: 100%;
  margin: 1em 0;
}

.help-cheetsheet th, td{
  border-bottom: 1px solid #ddd;
}

th{
  text-align: left;
}
td{
  vertical-align: top;
}
tr{
  margin-bottom: 10px;
  overflow: hidden;
}

@media (min-width:768px){
  .help-cheetsheet{
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    padding-top: 280px;
    background-color: white;
  }
}

@media (min-width:768px){
  .help-cheetsheet{
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    padding-top: 500px;
    background-color: white;
  }
}