.main.info{
  display: flex;
  justify-content: center;
}

.main>.left-side{
  width: 40%;
  padding: 2em;
}

.main>.right-side{
  width: 60%;
  max-height: 100vh;
  overflow: scroll;
  padding: 2em;
  background: #F1F1F1;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.main>.right-side::-webkit-scrollbar{
  display: none;
}

.main>.right-side table{
  width: 100%;
  margin: 1em 0;
}
th{
  text-align: left;
}
td{
  vertical-align: top;
}
tr{
  margin-bottom: 10px;
overflow: hidden;
}