#search{
  min-height: 100vh;
  background:url('../../../assets/images/background-grid.png');
}

.search-results{
  padding-top: 1em;
}
h2{
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
}
.search-results p{
  margin: 0;
    padding-left: 2.2em;
    font-weight: 200;
}
