
<!-- <div class="card-list-title">
    <h1 class="book-title">{{mdBook.title}}</h1>
    <p class="note-number">You have: <b>{{mdBook.mdNotes.length}} notes</b></p>
  </div> -->
<div id="search">
  <div class="search-results">
    <p *ngIf="searchResult">We found {{searchResultsNum}} matched 
      <span *ngIf="searchResultsNum>1">notes in {{searchResult.length}} books</span>
      <span *ngIf="searchResultsNum <= 1">note in {{searchResult.length}} book</span> 
    </p>
  </div>
  <div *ngFor="let mdBook of searchResult">
      <h2 class="book-title">Book: {{mdBook.title}}</h2>
      <div class="grid-row">
        <div *ngFor="let mdNote of mdBook.mdNotes">
         <app-card [mdNote]="mdNote" [mdBook_id]="mdBook._id"></app-card>
        </div>
      </div>
  </div>

</div>

