
  <div id="landing">
    <header class="container">
        <div class="logo">
            <img src="../../../assets/images/logo-big.png" alt="">
        </div>
    </header>
    <div class="container flex-row-home">
        <div class="app-title">
            <h1>Note taking, made easy.</h1>
            <p>Light, clean, and free. MarkBox is the simplest way of taking notes: use the simplicity 
                of markdown and just focus on your writing.</p>
        </div>
        <div class="form-wrapper">
            <div *ngIf="on" class="signup-form">
                <app-signup-form></app-signup-form>
            </div>
            <div *ngIf="!on" class="login-form">
                <app-login-form></app-login-form>
            </div>
            <p class="toggle-form" (click)="toggle()">{{toggleText}}</p> 
        </div>
    </div>
  </div>