*{
  box-sizing: border-box;
}
#landing{
  padding: 15px 0;
}
h1{
  color: #4F575E;
  line-height: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
}
.logo{
  width: 50%;
}
.logo img{
  max-width: 100%;
}
.app-title{
  margin-bottom: 50px;
}
.app-title p{
  color: #828282;
  font-size: 1.3em;
  font-weight: 200;
  font-family: barlow;
}
.form-wrapper{
  width: 100%;
}
.flex-row-home{
  display: flex;
  flex-direction: column;
}
.toggle-form:hover{
  cursor: pointer;
  opacity: .7;
}
@media (min-width:768px){
  .form-wrapper{
    width: 100%;
  }
  .app-title p{
    width: 60%;
  }
  .container{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
  }
  #landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 200px;
  }
  .flex-row-home{
    flex-direction: row;
  }
}

@media (min-width:992px){
  .container{
    width: 80%;
  }
  .form-wrapper{
    width: 60%;
  }
}
@media (min-width:1200px){
  .app-title p{
    width: 76%;
  }
  .logo{
    width: 20%;
    margin-bottom: 50px;
  }
  .form-wrapper{
    width: 40%;
  }
  .container{
    width: 80%;
  }
}