*{
  box-sizing: border-box;
}
#landing{
  padding: 15px 0;
}
h1{
  color: #4F575E;
  line-height: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: -2px;
}
.logo{
  padding-top: .9em;
  width: 30%;
}
.logo img{
  max-width: 100%;
}
.app-title{
  margin-bottom: 50px;
}

.form-wrapper{
  width: 100%;
}
.flex-row-home{
  display: flex;
  flex-direction: column;
}
.toggle-form:hover{
  cursor: pointer;
  opacity: .7;
}

.container.flex-row-home{
  padding-top: 40px;
}



@media (min-width:565px){
  .logo{
    width: 25%;
  }
}

@media (min-width:768px){
  .logo[_ngcontent-c4] {
    width: 22%;
}
  .form-wrapper{
    width: 100%;
  }
  .app-title p{
    width: 84%;
  }
  .container{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
  }
  #landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 400px;
  }
  .flex-row-home{
    flex-direction: row;
  }
}

@media (min-width:992px){
  .logo {
    width: 18%;
  }
  .container{
    width: 80%;
  }
  .form-wrapper{
    width: 60%;
  }
  .app-title p{
    width: 89%;
  }
}
@media (min-width:1200px){
  .app-title p{
    width: 76%;
  }
  .logo{
    width: 14%;
    margin-bottom: 50px;
  }
  .form-wrapper{
    width: 40%;
  }
  .container{
    width: 80%;
  }
}