


a {
  text-decoration: none;
  opacity: .6;
  padding: 60px;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1.4em;
}

a:hover {
  opacity: 1;
}


.settings-buttons{
  width: 30%;
  height: 30px;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  align-self: flex-end;
  
  
}


.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .2em;
}

.inner-container:first-child {
  background: #e9e9e9;
  color: #a9a9a9;
}

.inner-container:nth-child(2) {
  background: dodgerblue;
  color: white;
  clip-path: inset(0 50% 0 0);
  transition: .3s cubic-bezier(0,0,0,1);
}

.button-settings {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.button-settings p {
  margin: auto;
  color: white;
  font-family: Barlow;
  
}

.button-settings:nth-child(1) {
  right: 0;
}

.settings-section-container{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.settings-section-container p{
  text-align: center;
}


.settings-section-container>p{
  text-align: left;
  margin-bottom: 0;
}
