<div class="page-container">

  <div class="page-info">
    <h1>Settings</h1>
    <p>Here you can update your user settings.</p>
    <p></p>
    <p>
      Each setting can be adjusted by pressing toggle buttons. 
      When finishing, press the Save button.
      The new setting config overrides the previous one.
    </p>

    
  </div>

  <div class="page-content">

    <h3>View Mode</h3>
    <div class="settings-section-container">
      <p>Select the default view you prefer when entering in a note.</p>
      <div class="settings-buttons" id="buttons-viewMode" (click)="switchViewMode()">

          <div class="inner-container">
      
              <div class="button-settings">
                  <p>Edit mode</p>
              </div>
      
              <div class="button-settings">
                  <p>Html mode</p>
              </div>
      
          </div>
      
          <div class="inner-container" id='toggle-buttons-viewMode'>
      
              <div class="button-settings">
                  <p>Edit mode</p>
              </div>
      
              <div class="button-settings">
                  <p>Html mode</p>
              </div>
      
          </div>
      
      </div>
    </div>

    
    <h3>Autosave</h3>
    <div class="settings-section-container">
      <p>Select wheter you prefer autosaving active when editing or not.</p>
      
      <div class="settings-buttons" id="buttons-autoSaveMode" (click)="switchAutoSaveMode()">
        <div class="inner-container">
          <div class="button-settings">
            <p>Autosave On</p>
          </div>

          <div class="button-settings">
            <p>Autosave Off</p>
          </div>
        </div>

        <div class="inner-container" id='toggle-buttons-autoSaveMode'>
          <div class="button-settings">
            <p>Autosave On</p>
          </div>

          <div class="button-settings">
            <p>Autosave Off</p>
          </div>
        </div>

      </div>
    </div>

    <h3>Preview</h3>
    <div class="settings-section-container">
      <p>If active, you can have the preview by default when editing 
        <br>*This option can only be activated if Edit mode is active</p>

      <div class="settings-buttons" id="buttons-previewMode" (click)="switchPreviewMode()">
          <div class="inner-container">
            <div class="button-settings">
                <p>Preview On</p>
            </div>
    
            <div class="button-settings">
                <p>Preview Off</p>
            </div>
          </div>
      
          <div class="inner-container" id='toggle-buttons-previewMode'>
            <div class="button-settings">
                <p>Preview On</p>
            </div>
    
            <div class="button-settings">
                <p>Preview Off</p>
            </div>
          </div>
      
      </div>
    </div>
    
  </div>
</div>





