.active-message{
  position: fixed;
  top: 1em;
  right: 12%;
  color: grey;
  font-size: 12px;
  font-style: italic;
}


.profile-section-container{
  margin-bottom: 30px;
  width: 100%;
}

.profile-form-group{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-form-group div{
  width: 100%;
}

