.active-message{
  position: fixed;
  top: 1em;
  right: 12%;
  color: grey;
  font-size: 12px;
  font-style: italic;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.left-side{
  width: 40%;
  background-color: rgba(0, 0, 0, 0.05);
  height: 100vh;
}