<div class="main">
  <div class="flex-row jc-center full-page-wrapper">
    <div class="page-wrapper">
      <h2>Profile</h2>

      <p>Current email: {{user.email}}</p>
      <form method="post" action="/profile/edit" role="register">
        <div class="form-group">
      
          <div class="email-edit">
            <input type="text" name="email1" placeholder="New email">
            <input type="text" name="email2" placeholder="Repeat new email">
          </div>
          <div class="password-edit">
            <input type="password" name="password1" placeholder="New password">
            <input type="password" name="password2" placeholder="Repeat new password">
          </div>
      
        </div>
    
        <div class="form-group">
          <h2>Everything ready?</h2>
          <button type="submit" name="go">Update info</button>
        </div>
    
      </form>
    </div>
     
  </div>
 
</div>
