
<h2>Profile</h2>

<h3>You can update your user info here:</h3>

<p>Current email: {{user.email}}</p>

<div class="form-group">
  <input type="email" name="First email" [(ngModel)]="emailFirst" placeholder="New email..." required>
  <input type="email" name="Second email" [(ngModel)]="emailSecond" placeholder="Repeat new email..." required>
  <button (click)="updateInfo()" name="Go">Update email</button>
</div>



<div class="form-group">
    <input type="password" name="First password" [(ngModel)]="passwordFirst" placeholder="New password..." required>
    <input type="password" name="Second password" [(ngModel)]="passwordSecond" placeholder="Repeat new password..." required>
    <button (click)="updateInfo()" name="Go">Update password</button>
</div>
    
       
    
