/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700');

* {
  margin: 0;
  box-sizing: border-box;
}

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
body{
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  line-height: 1.5;
  background:url('./assets/images/background-grid.png');
}
/* router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
} */
#pinned-notes-page router-outlet ~ * {
  position: static;
  height: 100vh;
  width: 70%;
  background: #fff;
}
body.logged-in #app-document{
  margin-left: 45px;
}
body.active{
  overflow-x: hidden;
}
#app-document{
  transform: translateX(0%);
  transition: all 0.5s linear; 
  margin:0 auto;
  width: calc(100% - 45px);
}
#app-document.active{
  transform: translateX(190px);
  width: calc(100% - 245px);
}
#app-document.active #md-note-view{
  margin-left: 6px;
}


/*TEXT SETTINGS:*/
h1,h2,h3,h4,h5,h6{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #4F575E;
  line-height: 1;
  margin-top:1.2em;
}
h1{
  font-size: 2.8em;
}
h2{
  font-size: 2.1em
}
h3{
  font-size: 1.931em;
}
h4{
  font-size: 1.618em;
}
h5{
  font-size: 1.194em;
}
h6{
  font-size:1em;
}
a{
  color: #3c5877;
}
p{
  color: #808080;
  font-size: 1em;
  font-weight: 200;
  font-family: Barlow;
  margin: .8em 0;
}









.page-wrapper{
  border-left: 1px solid rgb(220,220,220);
  border-right: 1px solid rgb(220,220,220);
  padding: 20px 50px;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.full-page-wrapper{
  height: 100vh;
  align-items: center;
}
.flex-row{
  display: flex;
}
.flex-row.jc-center{
  justify-content: center;
}
.grid-row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2em;
  padding: 2em;
}
#app-document.active .grid-row{
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  transition: all 1s;
}
/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field input {
  padding: 5px;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 1em;
  border-radius: 7px;
  border: 1px solid #d6d6d6;
  box-shadow: none;
  font-weight: 200;
  font-family: Barlow;
}
form .field input:focus, form .field input:active, form button:focus, form button:active{
  outline: none;
}

form .submit {
  margin-bottom: 5px;
}

.field.submit button{
  background: #4d5d6c;
  color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  display: block;
  width: 100%;
  font-size: 1.618em;
  font-family: Barlow;
}

form button:hover{
  cursor: pointer;
  cursor: pointer;
}

.field.has-error label {
color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 100;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 100;
  font-size: 12px;

}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 100;
  font-size: 12px;

}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 100;
  font-size: 12px;

}
.toggle-form{
  text-align: center;
  font-size: 16px;
  background:transparent;
  color: rgb(120,120,120);
  font-weight: 100;
  font-size: 12px;
  border: none;
  margin-top: 15px;
}


.loading {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background:#fff url('./assets/images/markbox-logo.png') no-repeat center 50%;
  padding-top: 0;
  background-size: 80%;
  text-align: center;
  z-index: -1;
  transition: opacity ease-out;
}

app-root:empty + .loading {
opacity: 1;
z-index: 100;
}

@media (min-width:768px) {
  .loading {
    background-size: 20%;
  }
}


