*{
  margin: 0;
}

.mdNote{
  width: 100%;
  display: flex;
  padding-left: 50px;
}


.render-mdnote{
  padding: 10% 10%;
  margin: 0 15%;
  background: #F1F1F1;
}






.edit-mdnote textarea{
  width: 100%;
  background: transparent!important;
  border: none!important;
  height: 100vh;
  padding: 40px;
}
.edit-mdnote textarea:focus{
  outline: none!important;
}

button{
  position: fixed;
  top: 1em;
  right:1em;
}