.mdNote{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.render-mdnote{
  padding: 3em;
  width: 80%;
  background: #F1F1F1;
  height: 100vh;
  max-height: 100vh;
  overflow: scroll;
}

.edit-mdnote{
  padding: 3em;
  width: 80%;
  min-height: 100vh;
  height: auto;
  background: #F1F1F1;
}
#md-note-view.active-preview .render-mdnote, #md-note-view.active-preview .edit-mdnote{
  width: 50%;
}
#md-note-view.active-preview .edit-mdnote{
  background: #fff;
}
#md-note-view.active-preview{
  width: calc(100%);
}
.edit-mdnote textarea{
  width: 100%;
  background: transparent!important;
  border: none!important;
  margin-top: 2em;
  padding: 0 5em 5em;
  height: calc(100% - 9em);
  max-height: calc(100% -9em);
  resize: none;
  overflow: auto;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 1em;
  color: #707070;
  line-height: 1.5;
}
.edit-mdnote textarea:focus{
  outline: none!important;
}

button{
  height: 40px;
  width: 40px;
  background: #383838;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .3s;
}
button:hover,button.saving{
  opacity: .7;
}
button:active, button:focus{
  outline: none;
}

.icon{
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.active{
  transition: background-color 0.3s;
  background: #A9A9A9;
}

#box-buttons{
  position: fixed;
  top: 1em;
  right:1em;
  display: flex;
  flex-direction: column;
}
/* 
div button:hover{
  margin-right: 5px; 
} */
