.mdNote{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url('.././../../assets/images/background-grid.png');
}

app-md-note{
  margin: 0;
    width: 100%;
    height: 100%;
}
.render-mdnote{
  min-height: 100vh;
}
.render-mdnote, .render-preview{
  padding: 3em 6em;
  width: 80%;
  background: #fff;
  /* height: 100vh;
  max-height: 100vh; */
  /* overflow: scroll; */
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}
.render-mdnote.preview{
  padding: 3em 5em 3em 3em;
}

.edit-mdnote{
  padding: 3em 6em;
  width: 80%;
  min-height: 100vh;
  height: auto;
  background: #fff;
}
#md-note-view.active-preview .render-mdnote, #md-note-view.active-preview .edit-mdnote{
  width: 50%;
}
#md-note-view.active-preview .edit-mdnote{
  padding: 3em 3em;
}
#md-note-view.active-preview{
  width: calc(100%);
}
.edit-mdnote textarea{
  width: 100%;
  background: transparent!important;
  border: none!important;
  margin-top: .6em;
  height: auto;
  resize: none;
  overflow: auto;
  font-family: 'Overpass Mono', monospace;
  font-weight: 100;
  font-size: 0.9em;
  color: #808080;
  line-height: 2;
  caret-color: rgb(0, 174, 255);
}

.edit-mdnote textarea:caret-color{
  outline: none!important;
}
.edit-mdnote textarea:focus{
  outline: none!important;
}
#md-note-editor.active{

}

button{
  height: 35px;
  width: 35px;
  background: #4F575E;
  border-radius: 0px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: block
}
button:hover,button.saving{
  opacity: .7;
}
button:active, button:focus{
  outline: none;
}

.icon{
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
}



button.active{
  transition: background-color 0.2s ease-in-out;
  background: #A9A9A9;
}
.active-pinned{
  transition: background-color 0.2s ease-in-out;
  background: rgb(172, 156, 126);;
}

#box-buttons{
  position: fixed;
  padding: 1em 0;
  top: 0;
  right:1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow:auto;
  z-index: 2;
  
}
.active-message{
  position: fixed;
  top: 1em;
  right: 12%;
  color: grey;
  font-size: 12px;
  font-style: italic;
}
/* 
div button:hover{
  margin-right: 5px; 
} */