.md-books-nav{
  background:rgb(74, 82,88);
  width: 200px;
  height: 100vh;
  color: #fff;
  padding: 15px;
}
.md-book-title{
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
.md-books-list, .md-notes-list{
  list-style:none;
  padding-left: 0;
}
