@import url('https://fonts.googleapis.com/css?family=Barlow:200, 400,700');

#md-books-nav{
  background:#383838;
  position: fixed;
  height: 100%;
  width: 190px;
  color: white;
  border-bottom: 1em solid #383838;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.5s linear; 
  left: 50px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.md-books-list{
  padding-left: 0;
}
#md-books-nav::-webkit-scrollbar{
  display: none;
}
#md-books-nav.active{
  transform: translateX(0%);  
}

#add-book-input{
  background: url('../../../assets/images/plus-icon.png') no-repeat, rgba(0, 0, 0, 0.5);
  background-size: 17px 17px;
  border: none;
  color: white;
  border-radius:7px;
  height: 30px;
  background-position: 5% 50%;
  padding-left: 30px;
  margin-top: 20px;
  width: 83%;
}

#list-title{
  color: #F5F5F5;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: medium;
  font-size: 15px;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
}

#md-books-nav form{
  text-align: center;
}

.md-books-list, .md-notes-list{
  list-style:none;
}

.md-book-title{
  padding: 0;
  margin: 0;
}

/* ITEM INSIDE THE LIST */
a{
  color: #c6c6c6;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

/* WHOLE NOTES LIST */
.md-notes-list{
  height: 0;
  visibility: hidden;
  list-style-type: none;
  padding-left: 0;
}

.md-books-list .md-note-list-title{
  background: url('../../../assets/images/close-list-icon.png') no-repeat left center;
  background-size: 10px;
  padding-left: 15px;
  margin-left: 15px;
}

.md-notes-list a{
  display: inline-block;
  padding-left: 30px;
}

.md-books-list .md-note-list-title.open{
  background: url('../../../assets/images/open-list-icon.png') no-repeat left center;
  background-size: 10px;
  padding-left: 15px;
}
.md-books-list > li a.open + .md-notes-list{
  height: auto;
  transition: all 1s;
  visibility: visible;
}

.md-notes-list form{
  text-align: center;
  margin-top: 3px;
}

.toggleNotes{
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 5px 5px 0 15px;
}

/* INPUT NEW NOTE */
.md-notes-list input{
  background: url('../../../assets/images/plus-icon.png') no-repeat, rgba(0, 0, 0, 0.5);
  background-size: 17px 17px;
  border: none;
  color: white;
  border-radius: 7px;
  height: 27px;
  background-position: 5% 50%;
  margin: 0;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  padding-left: 30px;
}
.md-notes-list .change-mdNote-title{
  margin-top: 0;
}
.md-notes-list .change-mdNote-title input{
  background-image: none;
  padding-left: 2px;
  padding-top: 0;
  padding-bottom: 0;
  height: 22px;
  border-radius: 0;
  font-weight: 100;
  font-size: .9em;
}
a.active{
  font-weight: 600;
  color: white;
}

#note-selected.active{
  display: inline-block;
  font-weight: 200;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.logo{
  text-align: center;
  justify-content: center
}

.logo{
 position: fixed;
 bottom: 0;
 width: 190px;
 text-align: center;
}
.logo img{
  width: 80%;
}